/*
 * Abletech.Arxivar.Server.WebApi.Services
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.RowSearchResult;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ClassAdditionalFieldsApi {
    private ApiClient apiClient;

    public ClassAdditionalFieldsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ClassAdditionalFieldsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for classAdditionalFieldsAdditionalFieldClassComposeValues
     * @param fieldName Name of the additional field (required)
     * @param documentType Document type of first level (required)
     * @param tipo2 Document type of second level (required)
     * @param tipo3 Document type of third level (required)
     * @param docNumbers Documents Identifier in the additional field (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call classAdditionalFieldsAdditionalFieldClassComposeValuesCall(String fieldName, Integer documentType, Integer tipo2, Integer tipo3, List<Integer> docNumbers, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = docNumbers;

        // create path and map variables
        String localVarPath = "/api/ClassAdditionalFields/fieldclasscomposevalues/{fieldName}/{documentType}/{tipo2}/{tipo3}"
            .replaceAll("\\{" + "fieldName" + "\\}", apiClient.escapeString(fieldName.toString()))
            .replaceAll("\\{" + "documentType" + "\\}", apiClient.escapeString(documentType.toString()))
            .replaceAll("\\{" + "tipo2" + "\\}", apiClient.escapeString(tipo2.toString()))
            .replaceAll("\\{" + "tipo3" + "\\}", apiClient.escapeString(tipo3.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call classAdditionalFieldsAdditionalFieldClassComposeValuesValidateBeforeCall(String fieldName, Integer documentType, Integer tipo2, Integer tipo3, List<Integer> docNumbers, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'fieldName' is set
        if (fieldName == null) {
            throw new ApiException("Missing the required parameter 'fieldName' when calling classAdditionalFieldsAdditionalFieldClassComposeValues(Async)");
        }
        
        // verify the required parameter 'documentType' is set
        if (documentType == null) {
            throw new ApiException("Missing the required parameter 'documentType' when calling classAdditionalFieldsAdditionalFieldClassComposeValues(Async)");
        }
        
        // verify the required parameter 'tipo2' is set
        if (tipo2 == null) {
            throw new ApiException("Missing the required parameter 'tipo2' when calling classAdditionalFieldsAdditionalFieldClassComposeValues(Async)");
        }
        
        // verify the required parameter 'tipo3' is set
        if (tipo3 == null) {
            throw new ApiException("Missing the required parameter 'tipo3' when calling classAdditionalFieldsAdditionalFieldClassComposeValues(Async)");
        }
        
        // verify the required parameter 'docNumbers' is set
        if (docNumbers == null) {
            throw new ApiException("Missing the required parameter 'docNumbers' when calling classAdditionalFieldsAdditionalFieldClassComposeValues(Async)");
        }
        

        com.squareup.okhttp.Call call = classAdditionalFieldsAdditionalFieldClassComposeValuesCall(fieldName, documentType, tipo2, tipo3, docNumbers, progressListener, progressRequestListener);
        return call;

    }

    /**
     * This call retrieve the entire datasource for values in an class additional fields (the call compose columns based on call additional field configuration)
     * 
     * @param fieldName Name of the additional field (required)
     * @param documentType Document type of first level (required)
     * @param tipo2 Document type of second level (required)
     * @param tipo3 Document type of third level (required)
     * @param docNumbers Documents Identifier in the additional field (required)
     * @return List&lt;RowSearchResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<RowSearchResult> classAdditionalFieldsAdditionalFieldClassComposeValues(String fieldName, Integer documentType, Integer tipo2, Integer tipo3, List<Integer> docNumbers) throws ApiException {
        ApiResponse<List<RowSearchResult>> resp = classAdditionalFieldsAdditionalFieldClassComposeValuesWithHttpInfo(fieldName, documentType, tipo2, tipo3, docNumbers);
        return resp.getData();
    }

    /**
     * This call retrieve the entire datasource for values in an class additional fields (the call compose columns based on call additional field configuration)
     * 
     * @param fieldName Name of the additional field (required)
     * @param documentType Document type of first level (required)
     * @param tipo2 Document type of second level (required)
     * @param tipo3 Document type of third level (required)
     * @param docNumbers Documents Identifier in the additional field (required)
     * @return ApiResponse&lt;List&lt;RowSearchResult&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<RowSearchResult>> classAdditionalFieldsAdditionalFieldClassComposeValuesWithHttpInfo(String fieldName, Integer documentType, Integer tipo2, Integer tipo3, List<Integer> docNumbers) throws ApiException {
        com.squareup.okhttp.Call call = classAdditionalFieldsAdditionalFieldClassComposeValuesValidateBeforeCall(fieldName, documentType, tipo2, tipo3, docNumbers, null, null);
        Type localVarReturnType = new TypeToken<List<RowSearchResult>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * This call retrieve the entire datasource for values in an class additional fields (the call compose columns based on call additional field configuration) (asynchronously)
     * 
     * @param fieldName Name of the additional field (required)
     * @param documentType Document type of first level (required)
     * @param tipo2 Document type of second level (required)
     * @param tipo3 Document type of third level (required)
     * @param docNumbers Documents Identifier in the additional field (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call classAdditionalFieldsAdditionalFieldClassComposeValuesAsync(String fieldName, Integer documentType, Integer tipo2, Integer tipo3, List<Integer> docNumbers, final ApiCallback<List<RowSearchResult>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = classAdditionalFieldsAdditionalFieldClassComposeValuesValidateBeforeCall(fieldName, documentType, tipo2, tipo3, docNumbers, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<RowSearchResult>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for classAdditionalFieldsAdditionalFieldClassComposeValues_0
     * @param fieldName Name of the additional field (required)
     * @param documentTypeSystemId Document type (required)
     * @param docNumbers Documents Identifier in the additional field (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call classAdditionalFieldsAdditionalFieldClassComposeValues_0Call(String fieldName, Integer documentTypeSystemId, List<Integer> docNumbers, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = docNumbers;

        // create path and map variables
        String localVarPath = "/api/ClassAdditionalFields/fieldclasscomposevalues/{fieldName}/{documentTypeSystemId}"
            .replaceAll("\\{" + "fieldName" + "\\}", apiClient.escapeString(fieldName.toString()))
            .replaceAll("\\{" + "documentTypeSystemId" + "\\}", apiClient.escapeString(documentTypeSystemId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call classAdditionalFieldsAdditionalFieldClassComposeValues_0ValidateBeforeCall(String fieldName, Integer documentTypeSystemId, List<Integer> docNumbers, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'fieldName' is set
        if (fieldName == null) {
            throw new ApiException("Missing the required parameter 'fieldName' when calling classAdditionalFieldsAdditionalFieldClassComposeValues_0(Async)");
        }
        
        // verify the required parameter 'documentTypeSystemId' is set
        if (documentTypeSystemId == null) {
            throw new ApiException("Missing the required parameter 'documentTypeSystemId' when calling classAdditionalFieldsAdditionalFieldClassComposeValues_0(Async)");
        }
        
        // verify the required parameter 'docNumbers' is set
        if (docNumbers == null) {
            throw new ApiException("Missing the required parameter 'docNumbers' when calling classAdditionalFieldsAdditionalFieldClassComposeValues_0(Async)");
        }
        

        com.squareup.okhttp.Call call = classAdditionalFieldsAdditionalFieldClassComposeValues_0Call(fieldName, documentTypeSystemId, docNumbers, progressListener, progressRequestListener);
        return call;

    }

    /**
     * This call retrieve the entire datasource for values in an class additional fields (the call compose columns based on call additional field configuration)
     * 
     * @param fieldName Name of the additional field (required)
     * @param documentTypeSystemId Document type (required)
     * @param docNumbers Documents Identifier in the additional field (required)
     * @return List&lt;RowSearchResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<RowSearchResult> classAdditionalFieldsAdditionalFieldClassComposeValues_0(String fieldName, Integer documentTypeSystemId, List<Integer> docNumbers) throws ApiException {
        ApiResponse<List<RowSearchResult>> resp = classAdditionalFieldsAdditionalFieldClassComposeValues_0WithHttpInfo(fieldName, documentTypeSystemId, docNumbers);
        return resp.getData();
    }

    /**
     * This call retrieve the entire datasource for values in an class additional fields (the call compose columns based on call additional field configuration)
     * 
     * @param fieldName Name of the additional field (required)
     * @param documentTypeSystemId Document type (required)
     * @param docNumbers Documents Identifier in the additional field (required)
     * @return ApiResponse&lt;List&lt;RowSearchResult&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<RowSearchResult>> classAdditionalFieldsAdditionalFieldClassComposeValues_0WithHttpInfo(String fieldName, Integer documentTypeSystemId, List<Integer> docNumbers) throws ApiException {
        com.squareup.okhttp.Call call = classAdditionalFieldsAdditionalFieldClassComposeValues_0ValidateBeforeCall(fieldName, documentTypeSystemId, docNumbers, null, null);
        Type localVarReturnType = new TypeToken<List<RowSearchResult>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * This call retrieve the entire datasource for values in an class additional fields (the call compose columns based on call additional field configuration) (asynchronously)
     * 
     * @param fieldName Name of the additional field (required)
     * @param documentTypeSystemId Document type (required)
     * @param docNumbers Documents Identifier in the additional field (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call classAdditionalFieldsAdditionalFieldClassComposeValues_0Async(String fieldName, Integer documentTypeSystemId, List<Integer> docNumbers, final ApiCallback<List<RowSearchResult>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = classAdditionalFieldsAdditionalFieldClassComposeValues_0ValidateBeforeCall(fieldName, documentTypeSystemId, docNumbers, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<RowSearchResult>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
