/*
 * Abletech.Arxivar.Server.WebApi.Services
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.FieldBaseForSelectDTO;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class FieldsSelectorApi {
    private ApiClient apiClient;

    public FieldsSelectorApi() {
        this(Configuration.getDefaultApiClient());
    }

    public FieldsSelectorApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for fieldsSelectorGetForConfigureBarcodeTemplate
     * @param documentType Document type of first level (required)
     * @param tipo2 Document type of second level (required)
     * @param tipo3 Document type of third level (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call fieldsSelectorGetForConfigureBarcodeTemplateCall(Integer documentType, Integer tipo2, Integer tipo3, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/FieldsSelector/ForConfigureBarcodeTemplate/byDocumenttype/{documentType}/{tipo2}/{tipo3}"
            .replaceAll("\\{" + "documentType" + "\\}", apiClient.escapeString(documentType.toString()))
            .replaceAll("\\{" + "tipo2" + "\\}", apiClient.escapeString(tipo2.toString()))
            .replaceAll("\\{" + "tipo3" + "\\}", apiClient.escapeString(tipo3.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call fieldsSelectorGetForConfigureBarcodeTemplateValidateBeforeCall(Integer documentType, Integer tipo2, Integer tipo3, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'documentType' is set
        if (documentType == null) {
            throw new ApiException("Missing the required parameter 'documentType' when calling fieldsSelectorGetForConfigureBarcodeTemplate(Async)");
        }
        
        // verify the required parameter 'tipo2' is set
        if (tipo2 == null) {
            throw new ApiException("Missing the required parameter 'tipo2' when calling fieldsSelectorGetForConfigureBarcodeTemplate(Async)");
        }
        
        // verify the required parameter 'tipo3' is set
        if (tipo3 == null) {
            throw new ApiException("Missing the required parameter 'tipo3' when calling fieldsSelectorGetForConfigureBarcodeTemplate(Async)");
        }
        

        com.squareup.okhttp.Call call = fieldsSelectorGetForConfigureBarcodeTemplateCall(documentType, tipo2, tipo3, progressListener, progressRequestListener);
        return call;

    }

    /**
     * This call returns the selector fields for barcode template associated with a specific document type
     * 
     * @param documentType Document type of first level (required)
     * @param tipo2 Document type of second level (required)
     * @param tipo3 Document type of third level (required)
     * @return List&lt;FieldBaseForSelectDTO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<FieldBaseForSelectDTO> fieldsSelectorGetForConfigureBarcodeTemplate(Integer documentType, Integer tipo2, Integer tipo3) throws ApiException {
        ApiResponse<List<FieldBaseForSelectDTO>> resp = fieldsSelectorGetForConfigureBarcodeTemplateWithHttpInfo(documentType, tipo2, tipo3);
        return resp.getData();
    }

    /**
     * This call returns the selector fields for barcode template associated with a specific document type
     * 
     * @param documentType Document type of first level (required)
     * @param tipo2 Document type of second level (required)
     * @param tipo3 Document type of third level (required)
     * @return ApiResponse&lt;List&lt;FieldBaseForSelectDTO&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<FieldBaseForSelectDTO>> fieldsSelectorGetForConfigureBarcodeTemplateWithHttpInfo(Integer documentType, Integer tipo2, Integer tipo3) throws ApiException {
        com.squareup.okhttp.Call call = fieldsSelectorGetForConfigureBarcodeTemplateValidateBeforeCall(documentType, tipo2, tipo3, null, null);
        Type localVarReturnType = new TypeToken<List<FieldBaseForSelectDTO>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * This call returns the selector fields for barcode template associated with a specific document type (asynchronously)
     * 
     * @param documentType Document type of first level (required)
     * @param tipo2 Document type of second level (required)
     * @param tipo3 Document type of third level (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call fieldsSelectorGetForConfigureBarcodeTemplateAsync(Integer documentType, Integer tipo2, Integer tipo3, final ApiCallback<List<FieldBaseForSelectDTO>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = fieldsSelectorGetForConfigureBarcodeTemplateValidateBeforeCall(documentType, tipo2, tipo3, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<FieldBaseForSelectDTO>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
