/*
 * Abletech.Arxivar.Server.WebApi.Services
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.UserCompleteDTO;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ProcessProfessionalRoleApi {
    private ApiClient apiClient;

    public ProcessProfessionalRoleApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ProcessProfessionalRoleApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for processProfessionalRoleGetUsersForProfessionalRoleSelection
     * @param processId Process Identifier (required)
     * @param professionalRoleId Professional Role Idenfier (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call processProfessionalRoleGetUsersForProfessionalRoleSelectionCall(Integer processId, Integer professionalRoleId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/ProcessProfessionalRoleInfo/{professionalRoleId}/{processId}"
            .replaceAll("\\{" + "processId" + "\\}", apiClient.escapeString(processId.toString()))
            .replaceAll("\\{" + "professionalRoleId" + "\\}", apiClient.escapeString(professionalRoleId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call processProfessionalRoleGetUsersForProfessionalRoleSelectionValidateBeforeCall(Integer processId, Integer professionalRoleId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'processId' is set
        if (processId == null) {
            throw new ApiException("Missing the required parameter 'processId' when calling processProfessionalRoleGetUsersForProfessionalRoleSelection(Async)");
        }
        
        // verify the required parameter 'professionalRoleId' is set
        if (professionalRoleId == null) {
            throw new ApiException("Missing the required parameter 'professionalRoleId' when calling processProfessionalRoleGetUsersForProfessionalRoleSelection(Async)");
        }
        

        com.squareup.okhttp.Call call = processProfessionalRoleGetUsersForProfessionalRoleSelectionCall(processId, professionalRoleId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * This call returns the users associated with a professional role of process
     * 
     * @param processId Process Identifier (required)
     * @param professionalRoleId Professional Role Idenfier (required)
     * @return List&lt;UserCompleteDTO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<UserCompleteDTO> processProfessionalRoleGetUsersForProfessionalRoleSelection(Integer processId, Integer professionalRoleId) throws ApiException {
        ApiResponse<List<UserCompleteDTO>> resp = processProfessionalRoleGetUsersForProfessionalRoleSelectionWithHttpInfo(processId, professionalRoleId);
        return resp.getData();
    }

    /**
     * This call returns the users associated with a professional role of process
     * 
     * @param processId Process Identifier (required)
     * @param professionalRoleId Professional Role Idenfier (required)
     * @return ApiResponse&lt;List&lt;UserCompleteDTO&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<UserCompleteDTO>> processProfessionalRoleGetUsersForProfessionalRoleSelectionWithHttpInfo(Integer processId, Integer professionalRoleId) throws ApiException {
        com.squareup.okhttp.Call call = processProfessionalRoleGetUsersForProfessionalRoleSelectionValidateBeforeCall(processId, professionalRoleId, null, null);
        Type localVarReturnType = new TypeToken<List<UserCompleteDTO>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * This call returns the users associated with a professional role of process (asynchronously)
     * 
     * @param processId Process Identifier (required)
     * @param professionalRoleId Professional Role Idenfier (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call processProfessionalRoleGetUsersForProfessionalRoleSelectionAsync(Integer processId, Integer professionalRoleId, final ApiCallback<List<UserCompleteDTO>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = processProfessionalRoleGetUsersForProfessionalRoleSelectionValidateBeforeCall(processId, professionalRoleId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<UserCompleteDTO>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for processProfessionalRoleSetUsersForProfessionalRole
     * @param processId Process Identifier (required)
     * @param professionalRoleId Porfessional Role Idenfier (required)
     * @param userId User Identifier (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call processProfessionalRoleSetUsersForProfessionalRoleCall(Integer processId, Integer professionalRoleId, Integer userId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/ProcessProfessionalRoleInfo/{professionalRoleId}/{processId}/{userId}"
            .replaceAll("\\{" + "processId" + "\\}", apiClient.escapeString(processId.toString()))
            .replaceAll("\\{" + "professionalRoleId" + "\\}", apiClient.escapeString(professionalRoleId.toString()))
            .replaceAll("\\{" + "userId" + "\\}", apiClient.escapeString(userId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call processProfessionalRoleSetUsersForProfessionalRoleValidateBeforeCall(Integer processId, Integer professionalRoleId, Integer userId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'processId' is set
        if (processId == null) {
            throw new ApiException("Missing the required parameter 'processId' when calling processProfessionalRoleSetUsersForProfessionalRole(Async)");
        }
        
        // verify the required parameter 'professionalRoleId' is set
        if (professionalRoleId == null) {
            throw new ApiException("Missing the required parameter 'professionalRoleId' when calling processProfessionalRoleSetUsersForProfessionalRole(Async)");
        }
        
        // verify the required parameter 'userId' is set
        if (userId == null) {
            throw new ApiException("Missing the required parameter 'userId' when calling processProfessionalRoleSetUsersForProfessionalRole(Async)");
        }
        

        com.squareup.okhttp.Call call = processProfessionalRoleSetUsersForProfessionalRoleCall(processId, professionalRoleId, userId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * This call inserts a new professional role associated with a process
     * 
     * @param processId Process Identifier (required)
     * @param professionalRoleId Porfessional Role Idenfier (required)
     * @param userId User Identifier (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void processProfessionalRoleSetUsersForProfessionalRole(Integer processId, Integer professionalRoleId, Integer userId) throws ApiException {
        processProfessionalRoleSetUsersForProfessionalRoleWithHttpInfo(processId, professionalRoleId, userId);
    }

    /**
     * This call inserts a new professional role associated with a process
     * 
     * @param processId Process Identifier (required)
     * @param professionalRoleId Porfessional Role Idenfier (required)
     * @param userId User Identifier (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> processProfessionalRoleSetUsersForProfessionalRoleWithHttpInfo(Integer processId, Integer professionalRoleId, Integer userId) throws ApiException {
        com.squareup.okhttp.Call call = processProfessionalRoleSetUsersForProfessionalRoleValidateBeforeCall(processId, professionalRoleId, userId, null, null);
        return apiClient.execute(call);
    }

    /**
     * This call inserts a new professional role associated with a process (asynchronously)
     * 
     * @param processId Process Identifier (required)
     * @param professionalRoleId Porfessional Role Idenfier (required)
     * @param userId User Identifier (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call processProfessionalRoleSetUsersForProfessionalRoleAsync(Integer processId, Integer professionalRoleId, Integer userId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = processProfessionalRoleSetUsersForProfessionalRoleValidateBeforeCall(processId, professionalRoleId, userId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
